/*Components*/
h1{
    font-weight: bold;
    font-size: 32pt;
}
h2{
    font-style:italic;
    font-size: 26pt;
}
body{
    background-color: white;
    background-position: center;
    align-content: center;
    font-size: 18pt;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 30pt;
    padding-right:30pt;
    color:black;
}

footer{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    font-style: italic;
    color:grey;
    text-decoration: none;
    text-align: right;
    }

/*Classes*/
.notif{
    font-weight: bold;
    font-size: 22pt;
    text-align: center;
}
.link{
    text-decoration: none;
    color:blue;
}
.menuguide{
    background-color: black;
    font-size: 20pt;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: monospace;
}
.guidebutton{
    width: 300px;
    background-color: black;
    color: white;
    display:inline-block;
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom:25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.2s;
}
.guidebutton:hover{
    background-color: white;
    padding-bottom: 25px;
    padding-top: 25px;
    color: black;
}
