/*
Exact color values subject to change following color proofing

Pantone Color Code (RGB) | (HEX) | (CMYK) \\ use 

Pantone 4031 C (234 203 187) | (EACBBB) | (1 18 16 0)  \\ page background 
Pantone 7687 C (29 66 137)   | (1D4289) | (100 80 0 4) \\ text
Pantone 7620 C (183 49 44)   | (B7312C) | (0 94 86 16) \\ accents 


*/

/* element formatting -------------------------------------------------- */
h1{
    font-size: 24pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#1D4289;
    text-align: left;
}
h5{
    font-size: 20pt;
    font-weight: bold;
    text-align: left;
    color:#1D4289;
}

body{
    background-color: #EACBBB;
    background-position: center;
    align-content: center;
    font-size: 18pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30pt;
    padding-right:30pt;
    color:#1D4289;
}
footer{
    text-align: right;
    font-family: monospace;
    font-size: 12pt;
    color:#1D4289;
}
/* Classes ------------------------------------------------------------- */
.menuguide{
    background-color: #EACBBB;
    font-size: 20pt;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: monospace;
}
.guidebutton{
    width: 300px;
    background-color: #EACBBB;
    color: #1D4289;
    text-align: center;
    padding-top: 25px;
    padding-bottom:25px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 20pt;
    text-decoration: none;
    transition-duration: 0.2s;
    display:inline-block;
}
.guidebutton:hover{
    background-color: #B7312C;
    color: #EACBBB;
    padding-bottom: 25px;
    padding-top: 25px;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropcontent{
    display:block;
}
.dropdown:hover .dropbutton{
    background-color:#B7312C;
    color:#EACBBB;
}
.dropbutton{
    width: 300px;
    background-color: #EACBBB;
    color: #1D4289;
    text-align: center;
    padding-top: 25px;
    padding-bottom:25px;
    border-radius: 10px;
    border:none;
    font-family: monospace;
    font-size: 20pt;
    text-decoration: none;
    transition-duration: 0.2s;
    display:inline-block;
}
.dropcontent{ 
    display: none;
    position:absolute;
    background-color:#1D4289;
    color:#EACBBB;
    min-width: 300px;
    z-index: 1;
    text-decoration: none;
    border-radius: 10px;
}
.dropcontent a{
    color:#EACBBB;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    font-size: 16pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}