/* GENERAL */
@import url('https://rsms.me/inter/inter.css');

body {
  margin: 0;
  padding: 1%;
  border: 0;
  font-size: 100%;
  font: 'Inter', sans-serif;
  color: whitesmoke;
  height: 100%;
  width: 100%;
}
body {
  background: url("bg.jpg");
  background-size: cover;
  opacity: 1;
  top: 0;
}
a {
  font-weight: 500;
  color: whitesmoke;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
ul {
  font-size: 1.25em;
  text-align: left;
}
li {
  font-size: 1.25em;
  text-align: left;
}
.liquid-glass {
  -moz-animation: liquid-glass .25s 1.5s forwards;
  -webkit-animation: liquid-glass .25s 1.5s forwards;
  -ms-animation: liquid-glass .25s 1.5s forwards;
  animation: liquid-glass .25s 1.5s forwards;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backdrop-filter: blur(24px) url(#liquid-refraction);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.74);
  border-radius: 4em;
  margin: auto;
  padding-bottom: 3em;
  width: 90%;
  display: grid; 
  text-align: center;
  opacity: 0;
}
.liquid-glass::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}
.pad {
  padding: 5em;
}
.padB {
  padding: 1.5em;
}

/* VISUALS */
.pantoneCard {
  border-radius: 2.5em;
  width: 45%;
  height: 45%;
  transition: transform 0.3s ease;
  -moz-animation: pCard .25s 2s forwards;
  -webkit-animation: pCard .25s 2s forwards;
  -ms-animation: pCard .25s 2s forwards;
  animation: pcard .25s 2s forwards;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pantoneCard:hover {
transform: scale(1.15);
backdrop-filter: blur(24px) url(#liquid-refraction);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.74);
}
.sideBySide {
  display: flex;
  margin: auto;
  padding: 3em;
  width:90%;
  align-content: center;
  justify-content: center;
  gap: 3em;
}
/* HEADER */

@-moz-keyframes header {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes header {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-ms-keyframes header {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes header {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* GLASS CARD */
@-moz-keyframes liquid-glass {
  0% {
    -moz-transform: translate3d(0, em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes liquid-glass {
  0% {
    -moz-transform: translate3d(0, 10em, 0);
    -webkit-transform: translate3d(0, 10em, 0);
    -ms-transform: translate3d(0, 10em, 0);
    transform: translate3d(0, 10em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-ms-keyframes liquid-glass {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes liquid-glass {
  0% {
    -moz-transform: translate3d(0, 10em, 0);
    -webkit-transform: translate3d(0, 10em, 0);
    -ms-transform: translate3d(0, 10em, 0);
    transform: translate3d(0, 10em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* Pantone CARD */
@-moz-keyframes pCard {
  0% {
    -moz-transform: translate3d(0, em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes pCard {
  0% {
    -moz-transform: translate3d(0, 10em, 0);
    -webkit-transform: translate3d(0, 10em, 0);
    -ms-transform: translate3d(0, 10em, 0);
    transform: translate3d(0, 10em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-ms-keyframes pCard {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes pCard {
  0% {
    -moz-transform: translate3d(0, 10em, 0);
    -webkit-transform: translate3d(0, 10em, 0);
    -ms-transform: translate3d(0, 10em, 0);
    transform: translate3d(0, 10em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

#header {
  -moz-animation: header .25s 1s forwards;
  -webkit-animation: header .25s 1s forwards;
  -ms-animation: header .25s 1s forwards;
  animation: header .25s 1s forwards;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  cursor: default;
  display: inline-block;
  opacity: 0;
  position: relative;
  text-align: center;
  top: 5em;
  vertical-align: middle;
  width: 100%;
}

#header h1 {
  font-size: 4.35em;
  font-weight: 900;
  letter-spacing: -0.035em;
  line-height: 1em;
  align-content: center;
}

#header p {
  font-size: 1.75em;
  font-weight: bold;
  align-content: center;
  margin: 0.75em 0 0.25em 0;
  opacity: 0.75;
}


#footer {
  	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		bottom: 2em;
		cursor: default;
		height: 6em;
		left: 0;
		line-height: 8em;
    position: fixed;
    bottom: 0pt;
		text-align: center;
    align-content: center;
		width: 100%;
}